.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 69%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 36%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 73%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 450px !important  
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal



.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important


.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principal3.png") !important


  /// TEMA 1
.cambio-color-1
  background-color: #BDE4F0 !important

.bg-slider
  background-image: url("../assets/curso/tema1/fondoslider.png")
  background-repeat: no-repeat
  background-size: cover
  margin-inline: -3.2rem !important
  padding: 3rem 0rem
.slyder-a__item
  padding: 4rem 3rem 1rem 4rem !important
.slyder-a__tipo-b
  padding: 0rem 2rem 2rem 2rem !important
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: $color-acento-botones
.slyder-a__bullets__item 
  background-color: #FFDCA9 !important
  border: 0px
.slyder-a__bullets__item--active
  background-color: #FF9B08 !important
.slyder-a__bullets__item
  @media screen and (max-width: 768px)
    width: 10px !important
    height: 10px !important
    margin: 0.2rem
.ajuste-slider
  border-radius: 20px
  background-color: white
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4)

.titles___box_tercer_nivel
  background-color: $color-acento-contenido
  border-radius: 5px
  display: inline-flex
  align-items: center
  padding: 1rem
  height: 40px
  margin-left: 0.2rem
  @media screen and (max-width: 768px)
    margin-left: 0rem
    padding: 0.5rem 1rem 0.5rem 1.5rem !important
    width: auto
    height: auto
  @media screen and (max-width: 1200px)
    padding: 1.5rem
    margin-left: 0.4rem
  h3
    margin-left: 0.5rem
    padding-left: 0rem
    align-items: center
    white-space: normal
    word-break: break-word
    margin-bottom: 0px
  img
    position: relative
    left: -5px
    bottom: 7px
    @media screen and (max-width: 1200px)
      bottom: 3px
    @media screen and (max-width: 768px)
      bottom: 0px

.bg-1
  background-image: url("../assets/curso/tema1/img17.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.tabla-a
  width: 100% !important
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  table
    border: none !important
    width: 100%
    min-width: 610px
  thead
    border: none !important
    background-color: $color-acento-contenido !important
  tbody
    border: none !important
    background-color: white !important
  td
    border: none
    padding: 1rem
  th
    padding: 1.5rem
    @media screen and (max-width: 1200px)
      padding: 0.5rem 0.2rem
.ajuste-border-tabla
  border-right: 1px solid #d5d5d5 !important
.ajuste-color-tabla
  background-color: #F6F6F6 !important
.texto-right
  text-align: right !important
.texto-left
  text-align: left !important

.caja-tema1
  background-color: #E6EFBD
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.caja-tema2
  background-color: #E2F9EF
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  h3
    padding: 1rem 2rem 1rem 2rem
  p
    padding: 0rem 2rem 3rem 2rem
.tabs-c__tab--active
  font-weight: bold
.tabs-c__content-item
  background-color: #DDF1F7
  padding: 2rem
.tabs-c
  border-bottom: none !important

.bg-carrusel
  background-image: url("../assets/curso/tema1/img15.png")!important
  background-repeat: no-repeat
  background-size: 1150px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1330px

.tarjeta.color-acento-botones
  background-color: white
  padding: 4rem 2.5rem !important
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3)
  p
    color: $color-sistema-texto
  h4
    color: $color-sistema-texto
.horizontal-scroll__wrapper
  padding: 1rem 0.5rem
.fa-chevron-right
  color: $color-acento-botones
.fa-chevron-left
  color: $color-acento-botones
.estilo-text
  text-align: center
  padding: 0.3rem
.slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $color-sistema-texto
  border-radius: 50px
  padding: 0.8rem 1rem
.slyder-f__btn i:hover
  background-color: $color-acento-botones
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3)
  border: 1px solid white
  transition: opacity 0.3s ease-in-outbox-shadow 0.3s ease-in-out

.caja-tema1-2
  background-color: white
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3)
  border-bottom-left-radius: 14px
  border-bottom-right-radius: 14px
  h4
    padding: 1rem 2rem 1rem 2rem
  p
    padding: 0rem 2rem 3rem 2rem

.estilo___caja_7
  background-color: #2D5D6D
  padding: 2.5rem 1.5rem
  border-radius: 20px
  h4
    color: $color-acento-contenido
  @media screen and (max-width: 1200px)
    padding: 1.5rem
  @media screen and (min-width: 1400px)
    padding: 3rem 1.5rem
.tarjeta-audio__texto
  color: $color-sistema-texto !important
  margin-bottom: 2rem !important
  font-style: normal !important
.tarjeta-audio
  background-color: white
  border-radius: 10px
  border: 3px solid #C0D85C !important
  padding: 1rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem
.tarjeta-audio.color-acento-contenido .tarjeta-audio__input input[type=range]
  background: rgb(255, 233, 181)
  background-image: linear-gradient(#FF9B08, #FF9B08)
.audio__btn
  background-color: $color-acento-contenido !important

.caja-tema1-3
  background-color: #E6EFBD
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: #BDE4F0
  width: 100%
  p
    padding-left: 4.3rem
  h5
    padding-left: 4.3rem
  @media screen and (max-width: 1200px)
    width: 100%
    img
      padding-left: 3.5rem
.acordion__activo
  background-color: #FFE9B5
  h3
    color: $color-sistema-texto !important
.ajuste-cajaAcordion
  padding: 0rem 1rem 0rem 0rem
  ul
    padding: 0rem 3.3rem
  li
    @media screen and (max-width: 1200px)
      width: auto
.fa-arrow-alt-circle-right
  color: #2D5D6D

/// TEMA 2
.estilo___ul
  li
    margin-left: -1rem
.fa-check-circle
  color: #A09F14

.caja-tema2-1
  background-color: #C0D85C
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.bg-2
  background-image: url("../assets/curso/tema2/img6.png")
  background-repeat: no-repeat
  background-size: 1145px
  margin-inline: -3.2rem !important
  @media screen and (min-width: 1400px)
    background-size: 1325px

.caja-tema2-2
  background-color: #DDF1F7
  padding: 1rem 1.5rem
  @media screen and (max-width: 1200px)
    padding: 1.5rem

.ajuste-border-final
  margin-bottom: -3rem !important

/// TEMA 4
.caja-tema4
  background-color: #DDF1F7
  padding-left: 2rem
  @media screen and (max-width: 1200px)
    padding: 0rem
    p
      padding: 1.5rem
    img
      margin: 0rem !important
      padding: 0rem !important

.caja-tema4-1
  background-color: white
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3)
  border-radius: 14px
  h4
    padding: 1rem 2rem 1rem 2rem
  p
    padding: 0rem 2rem 2rem 2rem

.tarjeta.color-acento-botones.fit___card-sinbordes
  padding: 0rem !important
  h4
    padding: 0rem 1.5rem !important
    color: $color-sistema-texto
  p
    padding: 0rem 1.5rem 2rem 1.5rem !important
    color: $color-sistema-texto

.bloque-texto-g__img
  background-color: $color-adicional-2
  display: flex !important
  align-items: center !important
  @media screen and (max-width: 1200px)
    padding-top: 1.5rem !important
.estilo___ul_bloque
  li
    margin-left: 3rem
  i
    color: #A09F14
.ajuste---li
  margin-left: 3.1rem !important

/// TEMA 6
.video
  iframe
    border-radius: 14px !important

/// TEMA 7
.caja-tema7
  background-color: white
  padding: 2rem 3rem
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3)
  border-radius: 14px
  @media screen and (max-width: 1200px)
    padding: 1.5rem